.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 300px;
}

.title {
  font-size: 160px;
  font-weight: bold;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
