services:
  postgres:
    image: postgres:17-alpine
    container_name: postgres
    restart: always
    env_file:
      - .env
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - postgres:/var/lib/postgresql/data
    networks:
      - skillswap-network


  traefik:
    image: traefik:v3.6
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--entrypoints.web.address=:80"
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - skillswap-network

  server:
    build:
      context: ../server
      dockerfile: Dockerfile
    container_name: server
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - skillswap-network
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.server.rule=Host(`api.skillswap.local`)"
      - "traefik.http.services.server.loadbalancer.server.port=3000"

networks:
  skillswap-network:
    driver: bridge

volumes:
  postgres: