@layer base {
    :root {
        --radius: 0.625rem;

        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;

        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;

        --primary: 222.2 47.4% 45%;
        --primary-foreground: 0 0% 100%;

        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;

        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;

        --accent: 222.2 47.4% 92%;
        --accent-foreground: 222.2 47.4% 25%;

        --destructive: 0 72.2% 50.6%;
        --destructive-foreground: 0 0% 100%;

        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 222.2 47.4% 45%;
    }
}