.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.number {
  font-size: 130px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 80px;
  border-radius: 100px;
  position: relative;

  max-width: 1000px;
  width: 100%;

  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  box-shadow:
    0 20px 50px rgba(0, 0, 0, 0.4),
    inset 0 0 20px rgba(168, 85, 247, 0.1);

  overflow: hidden;
}

.card::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 100px;

  padding: 2px;

  background: linear-gradient(
    135deg,
    rgba(168, 85, 247, 0.8) 0%,
    rgba(255, 255, 255, 0.1) 40%,
    rgba(59, 130, 246, 0.8) 100%
  );

  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);

  -webkit-mask-composite: destination-out;
  mask-composite: exclude;

  pointer-events: none;
}

.titleInner {
  max-width: 300px;
  width: 100%;
}

.cardTitle {
  font-size: 40px;
}

.cardSubtitle {
  font-size: 20px;
  color: var(--muted);
}
