name: client-ci
on:
  push:
    branches: [main, 'feature/**']
    paths:
      - 'client/**'
  pull_request:
    branches:
      - main
    paths:
      - 'client/**'

permissions:
  contents: read



jobs:
  build-client:
    runs-on: ubuntu-22.04
    defaults:
      run:
        working-directory: ./client

    steps:
      - name: Cache node modules
        uses: actions/cache@v3
        with:
          path: ./client/node_modules
          key: ${{runner.os}}-node-${{hashFiles('client/package-lock.json') }}

      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: 'client/package-lock.json'

      - name: Install dependencies and clean
        run: npm ci --audit=false

      - name: TypeScript lint
        run: npm run lint:ts

      - name: Build project
        run: npm run build

      - name: Upload build artifacts
        if: github.ref == 'refs/heads/main'
        uses: actions/upload-artifact@v4
        with:
          name: 'client build'
          path: './client/dist'
          retention-days: 7s


